#app-container {
	.board-square {
		height: 100px;
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 70px;
			width: auto;

			&.rotated {
				transform: rotate(180deg);
			}
		}

		.indicator {
			&.legal-square {
				position: absolute;
				width: 30px;
				height: 30px;
				background: grey;
				border-radius: 50%;
				opacity: 0.5;
			}
			&.in-check {
				position: absolute;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				opacity: 0.5;
				border: 5px solid red;
			}
		}

		.promotion-square-options {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 15px;

			img {
				height: 35px;
				width: auto;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	.chess-board-row {
		.board-square {
			background: #f0d9b5;

			&.blue {
				background: #cddbe2;
				&.clickable {
					&.selected {
						background: #6ab7cf;
					}
				}
			}

			&.green {
				background: #eeeed2;
				&.clickable {
					&.selected {
						background: #baca2b;
					}
				}
			}

			&.clickable {
				cursor: pointer;

				&.selected {
					background: #f7ec5b;
				}
			}

			&.past-move-starting {
				background: #cbb91a;
			}

			&.past-move-ending {
				background: #e2ce1d;
			}
		}
		.board-square:nth-child(2n) {
			background: #b58863;

			&.blue {
				background: #7296ac;
				&.clickable {
					&.selected {
						background: #6ab7cf;
					}
				}
			}

			&.green {
				background: #769656;
				&.clickable {
					&.selected {
						background: #baca2b;
					}
				}
			}

			&.clickable {
				cursor: pointer;

				&.selected {
					background: #f7ec5b;
				}
			}

			&.past-move-starting {
				background: #cbb91a;
			}

			&.past-move-ending {
				background: #e2ce1d;
			}
		}
	}

	.chess-board-row:nth-child(2n) {
		.board-square {
			background: #b58863;

			&.blue {
				background: #7296ac;
				&.clickable {
					&.selected {
						background: #6ab7cf;
					}
				}
			}

			&.green {
				background: #769656;
				&.clickable {
					&.selected {
						background: #baca2b;
					}
				}
			}

			&.clickable {
				cursor: pointer;

				&.selected {
					background: #f7ec5b;
				}
			}

			&.past-move-starting {
				background: #cbb91a;
			}

			&.past-move-ending {
				background: #e2ce1d;
			}
		}
		.board-square:nth-child(2n) {
			background: #f0d9b5;

			&.blue {
				background: #cddbe2;
				&.clickable {
					&.selected {
						background: #6ab7cf;
					}
				}
			}

			&.green {
				background: #eeeed2;
				&.clickable {
					&.selected {
						background: #baca2b;
					}
				}
			}

			&.clickable {
				cursor: pointer;

				&.selected {
					background: #f7ec5b;
				}
			}

			&.past-move-starting {
				background: #cbb91a;
			}

			&.past-move-ending {
				background: #e2ce1d;
			}
		}
	}
}

// brown color code = #B58863
// white color code = #F0D9B5
