#app-container {
	.chess-board-container {
		display: flex;
		height: fit-content;
		width: fit-content;
		border: 7px solid black;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&.rotated {
			transform: rotate(180deg);
		}
	}
	.chess-board-row {
		display: flex;
	}
}
