@import "./chess-board.scss";
@import "./board-square.scss";
@import "./menu.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#243b55,
		#141e30
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

#app-container {
	display: flex;
	align-self: center;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;

	.coord-flex-container {
		display: flex;
		gap: 10px;

		.vertical-coords {
			display: flex;
			height: 810px;
			flex-direction: column-reverse;
			font-size: 16px;
			color: white;
			justify-content: space-around;
		}
	}

	.alpha-flex-container {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.horizontal-coords {
			display: flex;
			font-size: 16px;
			justify-content: space-around;
			color: white;
		}
	}
}
