#app-container {
	.menu-container {
		display: flex;
		gap: 100px;
	}
	.action-button {
		border-radius: 4px;
		border: none;
		transition: 0.3s;

		&:hover:not(:disabled) {
			cursor: pointer;
			background: #008b8b;
			transition: 0.3s;
		}

		img {
			height: 30px;
			width: auto;
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	.menu-options-container {
		text-align: center;
		font-size: 24px;
		padding: 10px 30px 30px 30px;
		position: absolute;
		background: #ece9e6;
		background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
		background: linear-gradient(to right, #ffffff, #ece9e6);
		height: fit-content;
		width: 350px;
		margin-bottom: 60px;
		border-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		font-weight: 600;
		display: flex;
		flex-direction: column;
		gap: 20px;
		z-index: 3;

		.options {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.option {
				display: flex;
				font-size: 20px;
				font-weight: normal;
				align-items: center;

				.theme-options,
				.bot-options,
				.perspective-options {
					text-align: center;
					margin-left: auto;
					width: 100px;
					height: 30px;
					font-size: 18px;
					border: 2px solid #dbd9d7;
					outline: none;
					font-weight: 600;
				}
				.depth-slider {
					margin-left: auto;
					input {
						width: 100px;
					}
				}
			}
		}
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 24px;
		margin-left: auto;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.toggle-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	.toggle-slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .toggle-slider {
		background-color: #2196f3;
	}

	input:focus + .toggle-slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .toggle-slider:before {
		-webkit-transform: translateX(16px);
		-ms-transform: translateX(16px);
		transform: translateX(16px);
	}

	.toggle-slider.round {
		border-radius: 34px;
	}

	.toggle-slider.round:before {
		border-radius: 50%;
	}
}
